body{
    background-image: url("algue3.jpg");
    /*background-color: #e6ffd2*/
    color: #e6ffd2;
    background-size: cover;
}
header{
    background-color: #1e320a;

    padding: 20px;
    margin-bottom: 30px;
    line-height: 50px;
}

header, header a, legend{
    color: #e6ffd2;
    font-weight: 700;
}

#logo{
    float: left;
    height: 100%;

}

.jumbotron{
    background-color: #326419;
    opacity: 0.7;
}

#div-btn-connection{
    margin-top: 40px;
}

#flashConnection{
    margin-bottom: 20px;
    padding-right: 10px;
    font-weight: 800;
}

table{
    border-collapse: collapse;
}
td{
	border : 1px solid black;
}
